.attribution{
font-size:11px;
position:absolute;
bottom:0;
}
.attribution a{
color:rgb(45, 45, 200);
}
body{
    background-color:hsl(30, 38%, 92%);
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    position:relative;
}
.image-text-container{
    width:400px;
    display:flex;
    border-radius:5px;
    background-color:white;
}
.product-image{
    width:200px;
    flex:1;
    margin-bottom:-3px;
    border-bottom-left-radius:5px;
    border-top-left-radius: 5px;
}
.product-text{
    width:200px;
    flex:2;
    text-align:center;
}
.product{
    font-family: Montserrat, Arial;
    font-size: 10px;
    color:grey;
    text-align:left;
    padding-left:10px;
    letter-spacing: 3px;
    margin-top:20px;
}
.name-product{
    font-family:Fraunces, Arial;
    font-weight:700;
    font-size:20px;
    width:150px;
    text-align:left;
    padding-left:10px;
    line-height:100%;
}
.product-description{
    font-family: Montserrat, Arial;
    font-size: 11px;
    color:grey;
    text-align:left;
    padding-left:10px;
    line-height:150%;
}
.buy-section{
    padding:10px;
}
.prices{
    display:grid;
    grid-template-columns: 100px 100px;
}
.new-price{
    font-family:Fraunces, Arial;
    font-weight:700;
    font-size:20px;
    text-align:left;
    color:hsl(158, 36%, 37%);
}
.old-price{
    font-family: Montserrat, Arial;
    font-size: 11px;
    color:grey;
    text-align:left;
    margin-top:5px;
    text-decoration:line-through;
}
.last-section{
    display:flex;
    align-items:center;
    justify-content: center;
}
.buy-button{
    font-family: Montserrat, Arial;
    font-size: 10px;
    text-align:center;
    color:white;
    background-color: hsl(158, 36%, 37%);
    border:none;
    padding: 10px 30px 10px 30px;
    border-radius:5px;
    width:200px;
    margin-top:15px;
    cursor:pointer;
    position:relative;
}
.buy-button:active{
    background-color: hsl(158, 45%, 20%)
}
.icon-cart{
    position:absolute;
    left:35px;
    bottom:8px;
    
}
