body{
    background-color:hsl(212, 45%, 89%);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    position:relative;
    padding:100px;
}
.qr-container{
    background-color:white;
    padding:10px;
    border-radius:10px;
    
}
.qr-code{
    width:200px;
    border-radius:10px;
}
.text-container{
    width:190px;
    text-align:center;
}
.skills{
    font-family:Outfit, Arial;
    font-size:15px;
    font-weight:700;
}
.scan{
    font-family:Outfit, Arial;
    font-size:11px;
    font-weight:400;
    color:grey;   
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position:absolute;
    bottom:-20px;
    left:0px;
}
    .attribution a { color: hsl(228, 45%, 44%); }